.advantages_wrapper {
  padding: 2% 10%;
  background-color: #111;
}
.advantages_wrapper .advantages_header {
  background-color: #111;
  color: #fff;
  font-size: 30px;
}
.advantages_wrapper .advantages_list {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: #fff;
}
.advantages_wrapper .advantages_list li {
  list-style: none;
  border-left: 6px solid #a1faff;
  padding: 40px;
}
.advantages_wrapper .advantages_list li .list_num {
  color: #40d3dc;
  font-size: 50px;
}